body {
  background: rgb(0, 0, 0);
}

.topBar {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.topBar_left {
  display: none;
  grid-column: 1;
}

.topBar_left_wrapper:hover .topBar_left {
  display: block;
}

.topBar_middle {
  font-size: 2vw;
  text-align: center;
  color: white;
  grid-column: 2;
}
