.innerContainer-Settings {
    height: 50vw;
    width: 67vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-container {
    display: flex;
    background-color: lightsteelblue;
    flex-direction: column;
    height: 60%;
    width: 80%;
    border-radius: 15px;
}

.settings-upper-row {
    font-family: "Ubuntu Mono", monospace;
    font-size: max(1.3vw, 1.45vw);
    display: flex;
    background-color: white;
    position: relative;
    border-radius: 15px;
    border-style: solid;
    border-color: silver;
    border-width: 5px;
}

.settings-button {
    height: 100%;
    position: absolute;
    width: 5%;
    right: 0;
    border: none;
    border-radius: 10px;
    background-color: silver;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.settings-button:active {
    background-color: red;
}

.settings-options {
    background-color: rgb(1, 26, 72);
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.settings-item {
    background-color: white;
}

.settings-list {

    display: flex;
    height: 15%;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: silver;
    border-width: 5px;
}

.settings-beginning-side {
    width: 20%;
    margin: 5px;
    text-align: start;
    overflow-wrap: break-word;
}

.settings-mid-side {
    width: 70%;
    margin: 5px;
    text-align: center;
    overflow-wrap: break-word;
}

.settings-end-side {
    width: 10%;
    text-align: center;
    height: 100%;
}

.settings-list-button {
    font-size: max(1.3vw, 1.45vw);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: silver;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.settings-list-button:active {
    background-color: red;
}
.settings-top-font {
    font-size: max(2.5vw, 1.45vw);
}
.settings-list-font {
    font-size: max(1.3vw, 1.45vw);
    font-family: "Ubuntu Mono", monospace;
}
