.outer-container {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
}

.innerContainer {
    border-radius: 15px;
    height: 390px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerContainer-LoginColor {
    background-color: #ffffff73;
}

.login-form label {
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

.login-form button {
    background-color: #2e1ca5;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #1283df;
}

.button-container {
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    border-radius: 15px;
    padding: 10px;
}

.errorMessage {
    color: black;
    display: flex;
    translate: -50%;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    border-color: red;
    font-size: 15px;
    background-color: lightyellow;
    text-align: start;
    overflow-wrap: break-word;
}
