body {
    background: rgb(0, 0, 0);
}

.navbar {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.navbar_left {
    display: none;
    grid-column: 1;
}

.navbar_left_wrapper:hover .navbar_left {
    display: block;
}

.navbar_middle {
    text-align: center;
    color: white;
    grid-column: 2;
}
