video {
  position: relative;
  object-fit: cover;
  border-radius: 25px;
  border: 5px solid rgb(255, 255, 255);
    }
.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
