.settings-container {
    display: flex;
    background-color: rgb(250, 246, 242);
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.settings-upper-row {
    display: flex;
    position: relative;
    border-bottom: 5px;
    border-style:solid;
    
}
.settings-button {
    position: absolute;
    width: 5%;
    right: 0;
    top: 0;
}

.settings-options {
    margin: 0.5%;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.settings-list {
    display: flex;
    height: 15%;

    margin: 10px;
   
}

.settings-beginning-side {
    width: 20%;
    margin: 5px;
    text-align:start;
    overflow-wrap: break-word;
    
}

.settings-mid-side {
    width: 70%;
    margin: 5px;
    text-align: center;
    overflow-wrap: break-word;
}
.settings-end-side {
    width: 10%;
    text-align: center;
}

.settings-list-font {
    font-size: 20px;
}