.videoPartContainer {
  width: 100%;
  height: 90%;
  background-color: yellow;
  align-items: center;
  justify-content: center;

}

.videostyle {
  position: relative;
  object-fit: cover;
}

.videoNameContainer {
  width: 100%;
  height: 10%;
  object-fit: contain;
  background-color: green;

}

.videoSwipe {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.leftPart {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}